<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span><a href="/shop-view">Shop</a><span class="mx-2 mb-0">/</span> <strong class="text-black">{{product.name}}</strong></div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <img src="{{product.imagefield.[0]}}" alt="{{product.name}}" data-zoom-image="{{product.imagefield.[0]}}"
          class="img-fluid" id="main_product_image" style="height: 250px; width:250px">

        <div class="row">
          <div class='thumbnail_images pt-5 mx-auto'>
            <ul id='thumbnail' style="list-style: none;">
              <li class="d-inline-block">
                <img class="product-image" onclick='changeImage(this)' src='{{product.imagefield.[0]}}' width='50' />
              </li>
              <li class="d-inline-block pl-3">
                <img class="product-image" onclick='changeImage(this)' src='{{product.imagefield.[1]}}' width='50' />
              </li>
              <li class="d-inline-block pl-3">
                <img class="product-image" onclick='changeImage(this)' src='{{product.imagefield.[2]}}' width='50' />
              </li>
              <li class="d-inline-block pl-3">
                <img class="product-image" onclick='changeImage(this)' src='{{product.imagefield.[3]}}' width='50' />
              </li>
              <li class="d-inline-block pl-3">
                <img class="product-image" onclick='changeImage(this)' src='{{product.imagefield.[4]}}' width='50' />
              </li>
            </ul>
          </div>
        </div>

        {{!-- {{#each product.imagefield}}
        <img src="{{this}}" alt="" style="width: 60px;" class="p-2" id="imgView" />
        {{/each}} --}}
      </div>
      <div class="col-md-6">
        <h2 class="text-black" style="font-size: 25px;">{{product.name}}</h2>
        <p>{{product.description}}</p>
        <p class="mb-4">Ex numquam veritatis debitis minima quo error quam eos dolorum quidem perferendis. Quos repellat
          dignissimos minus, eveniet nam voluptatibus molestias omnis reiciendis perspiciatis illum hic magni iste,
          velit aperiam quis.</p>
        <p><strong class="text-primary h4">{{product.price}}</strong></p>
        <div class="mb-1 d-flex">
          <label for="sm" class="d-flex mr-3 mb-3">
            <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="Small" value="Small"
                name="size" checked></span> <span class="d-inline-block text-black">Small</span>
          </label>
          <label for="md" class="d-flex mr-3 mb-3">
            <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="Medium" value="Medium"
                name="size"></span> <span class="d-inline-block text-black">Medium</span>
          </label>
          <label for="lg" class="d-flex mr-3 mb-3">
            <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="Large" value="Large"
                name="size"></span> <span class="d-inline-block text-black">Large</span>
          </label>
          <label for="xl" class="d-flex mr-3 mb-3">
            <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="Extra Large"  value="Extra Large"
                name="size"></span> <span class="d-inline-block text-black"> Extra Large</span>
          </label>
          <input id="selectedSize" name="selectedSize" value="" hidden>
        </div>
        <div class="mb-5">
          <div class="input-group mb-3" style="max-width: 120px;">
            {{!-- <div class="input-group-prepend">
              <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
            </div>
            <input type="text" id="quantity" name="quantity" class="form-control text-center" value="1" placeholder=""
              aria-label="Example text with button addon" aria-describedby="button-addon1">
            <div class="input-group-append">
              <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
            </div> --}}
          </div>

        </div>

        {{!-- <p><a href="cart.html" class="buy-now btn btn-sm btn-dark">Buy Now</a> --}}
          {{#if (isGreater product.stock 0)}}
          <button onclick="cart('{{product._id}}')" id="info" class="buy-now btn btn-sm btn-dark">Add To Cart</button>
          {{else}}
                    <button class="buy-now btn btn-sm btn-danger">Out of Stock</button>
          {{/if}}
          <button onclick="wishlist('{{product._id}}')" id="wishlist" class="buy-now btn btn-sm btn-dark">Add To Wishlist</button>
        </p>

      </div>
    </div>
  </div>
</div>










    <footer class="site-footer border-top">
    <div class="container">
      <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12 ">
            <h2 class="mb-5 text-dark"><strong>Stay Comfy</strong></h2>
            <h4 class="mb-5 text-dark"><strong>Subscribe for Updates & more Offers</strong></h4>
            <div class="col-md-6 d-flex mx-auto text-center">
              <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
              <input type="submit" class="btn btn-sm btn-dark" value="Subscribe">
            </div>
            <div class="col-md-12 mt-5" >
            <div class="row" style="justify-content:center;">
            <div class="col-md-2">
              <h6 class="text-dark"><strong>Shop</strong></h6>
              
            </div>
            <div class="col-md-2">
              <h6 class="text-dark"><strong>Shipping & Returns</strong></h6>
             
            </div>
            <div class="col-md-2">
              <h6 class="text-dark"><strong>Contact & FAQ</strong></h6>
              
            </div>
            <div class="col-md-2">
              <h6 class="text-dark"><strong>Our Story</strong></h6>
              
            </div>
          </div>
        </div>

            
          
          <p class="mt-5 text-dark"><strong>
            Crafted with love | 100% Cruelty free<br>&copy;<script data-cfasync="false" src=""></script><script>document.write(new Date().getFullYear());</script> by Calinteed</strong>
          </p>
        </div>
        
      </div>
    </div>
  </footer>

</div>

<script>

  function changeImage(element) {
    var main_prodcut_image = document.getElementById('main_product_image');
    main_prodcut_image.src = element.src;
    $("#main_product_image").data('zoom-image', element.src).elevateZoom({
      responsive: true
    });
  }
  $("#main_product_image").elevateZoom({
    responsive: true
  });


</script>

<script>
    const radioButtons = document.getElementsByName('size')
    radioButtons.forEach(button=>{
      button.addEventListener('click',()=>{
        const selectedButton = document.querySelector('input[name="size"]:checked');
        document.getElementById('selectedSize').value= selectedButton.value
        console.log(selectedButton.value)
      })
    })

</script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
