<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

<style>
  .favorite-icon {
    position: absolute;
    right: 22px;
    font-size: 20px;
    color: red;
  }

  body {
    color: #000;
    overflow-x: hidden;
  }

  .card {
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
</style>
<div class="site-wrap">

  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <a href="/shop-view">Shop</a>
          <span class="mx-2 mb-0">/</span> <strong class="text-black">Wishlist</strong></div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">

      <div class="row mb-5">
        {{#if wishlistLength}}

        <div class="col-md-9 order-2">

          <div class="row">
            <div class="col-md-12">
              <div class="float-md-left ml-5">
                <h2 class="text-black h5">My Wishlist</h2>
              </div>
              {{!-- <div class="d-flex">
                <div class="dropdown mr-1 ml-md-auto">
                  <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuOffset"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Latest
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                    <a class="dropdown-item" href="#">Oversized T-shirts</a>
                    <a class="dropdown-item" href="#">Hoodies</a>
                    <a class="dropdown-item" href="#">Caps</a>
                  </div>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuReference"
                    data-toggle="dropdown">Reference</button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                    <a class="dropdown-item" href="#">Relevance</a>
                    <a class="dropdown-item" href="#">Name, A to Z</a>
                    <a class="dropdown-item" href="#">Name, Z to A</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Price, low to high</a>
                    <a class="dropdown-item" href="#">Price, high to low</a>
                  </div>
                </div>
              </div> --}}
            </div>
          </div>
          <div class="row mb-5 ml-5">
            {{#each products}}
            
            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">

              <div class="block-4 text-center border card">

                <figure class="block-4-image ">
                  <a href="/product-view/{{this._id}}"><img src="{{this.imagefield.[0]}}" class="img-fluid"
                      style="width:100%;"></a><span> <button onfocus="none"
                      onclick="removeWishlistProduct('{{../user._id}}','{{this._id}}',-1)" id="removeWishlist"
                      class="material-icons favorite-icon icon icon-heart" style="border: none; "></button></span>
                  {{!-- style="height: 20rem;" --}}
                  

                </figure>
                <div class="d-flex">
                  <div class="float-right">
                  </div>
                </div>
                <div class="block-4-text ">
                  <h3 style="font-size: 1rem;"><a href="" class="text-dark font-weight-bold ml-2">{{this.name}}</a></h3>
                  {{!-- <p class="mb-0">{{this.description}}</p> --}}
                  <p class="text-dark font-weight-bold ml-2 " style="font-size: 1rem;">{{this.price}}</p>
                </div>
                <button onclick="cart('{{this._id}}')" id="info" class="buy-now btn btn-xs btn-dark mb-3"
                  style="font-size: smaller;">Add To Cart</button>


              </div>
            </div>
            {{/each}}


          </div>
          {{else}}
          <div class="container-fluid mt-100">
            <div class="row">

              <div class="col-md-12">

                <div class="card">

                  <div class="card-body cart">
                    <div class="col-sm-12 empty-cart-cls text-center">
                      <img src="https://cdn.iconscout.com/icon/premium/png-128-thumb/wishlist-110-1135589.png"
                        width="130" height="130" class="img-fluid mb-4 mr-3">
                      <h3 class="text-dark"><strong>Your Wishlist is Empty</strong></h3>
                      <h4>Add something to make me happy :)</h4>
                      <a href="/shop-view" class="btn btn-dark cart-btn-transform m-3" data-abc="true">continue
                        shopping</a>


                    </div>
                  </div>
                </div>


              </div>

            </div>

          </div>
          {{/if}}
         
        </div>

      

          </div>

          <div class="border p-4 rounded mb-4">
            

          </div>
        </div>
      </div>


    </div>

  </div>
</div>

    <footer class="site-footer border-top">
    <div class="container">
      <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12 ">
            <h2 class="mb-5 text-dark"><strong>Stay Comfy</strong></h2>
            <h4 class="mb-5 text-dark"><strong>Subscribe for Updates & more Offers</strong></h4>
            <div class="col-md-6 d-flex mx-auto text-center">
              <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
              <input type="submit" class="btn btn-sm btn-dark" value="Subscribe">
            </div>
            <div class="col-md-12 mt-5" >
            <div class="row" style="justify-content:center;">
            <div class="col-md-2">
              <h6 class="text-dark"><strong>Shop</strong></h6>
              
            </div>
            <div class="col-md-2">
              <h6 class="text-dark"><strong>Shipping & Returns</strong></h6>
             
            </div>
            <div class="col-md-2">
              <h6 class="text-dark"><strong>Contact & FAQ</strong></h6>
              
            </div>
            <div class="col-md-2">
              <h6 class="text-dark"><strong>Our Story</strong></h6>
              
            </div>
          </div>
        </div>

            
          
          <p class="mt-5 text-dark"><strong>
            Crafted with love | 100% Cruelty free<br>&copy;<script data-cfasync="false" src=""></script><script>document.write(new Date().getFullYear());</script> by Calinteed</strong>
          </p>
        </div>
        
      </div>
    </div>
  </footer>




<script>
  function removeWishlistProduct(userId, proId) {

    $.ajax({
      url: '/remove-wishlist-product',
      data: {
        user: userId,
        product: proId,
      },
      method: 'post',
      success: (response) => {
        if (response.removeProduct) {
          setTimeout(function(){
            location.reload()
          },2000)
          Toastify({
          
            text: "Product removed from Wishlist",
            className: "removeWishlist",
            gravity: "top", // `top` or `bottom`
            position: "center", // `left`, `center` or `right`

            style: {
              background: "linear-gradient(to right, #00b09b, #96c93d)",
            }
          }).showToast();
        }
      }
    })
  }
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>